.characterCard {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.characterCardImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.characterCardLink {
  position: absolute;
  right: 15px;
  top: 15px;
}

.characterCardName {
  display: inline-block;
  font-size: 16px;
  padding-right: 48px;
  line-height: 24px;
}

.characterCardSeries {
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
}
